#background{
  height:670px;
  width:1300px;
}

#indexPikachu{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 420px;
  left: 50px;
}

#start{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50px;
  left: 1100px;
}
